---
import Layout from "../layouts/Layout.astro";
import DignitiesTable from "../components/DignitiesTable.astro";
import { ui } from "../i18n";

const lang = "en";
const t = ui[lang];
---

<Layout title={t.page.title} lang={lang}>
	<h1 class="visually-hidden">{t.page.title}</h1>

	<DignitiesTable lang={lang} />
</Layout>
