---
import Layout from "../../../layouts/Layout.astro";
import StarsTable from "../../../components/StarsTable.astro";
import { ui } from "../../../i18n";

const lang = "pt";
const t = ui[lang];
---

<Layout title={t.starsPage.title} lang={lang}>
	<h1 class="visually-hidden">{t.starsPage.title}</h1>

	<StarsTable lang={lang} />
</Layout>
